@mixin theme-light {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent: #{$accent};
  background: $bg-main;

  @media (max-width: $breakpoint-xs-max) {
    background-color: $white;
  }

  @include q-avatar-light();
  @include q-tree-light();
  @include q-breadcrumbs-light();
  @include q-card-light();
  @include q-carousel-light();
  @include q-drawer-light();
  @include q-field-control-light();
  @include q-header-light();
  @include q-item-light();
  @include q-linear-progress-light();
  @include q-menu-light();
  @include q-pagination-light();
  @include q-separator-light();
  @include q-table-light();
  @include q-toolbar-light();
  @include q-tab-panel-light();
  @include q-scrollarea-light();
  @include q-dialog-light();
  @include q-timeline-light();
  @include breadcrumbs-light();
  @include data-tables-light();
  @include error-banner-light();
  @include general-light();
  @include login-light();
  @include auth-layout-light();
  @include main-layout-light();
  @include business-layout-light();
  @include pagination-light();
  @include payment-detail-light();
  @include tooltip-light();
  @include lang-switcher-light();
  @include line-chart-light();
  @include bar-chart-light();
  @include area-chart-light();
  @include pie-chart-light();
  @include bottom-navigation-light();
  @include main-container-light();
  @include breakpoints-light();
  @include create-form-light();
  @include tips-light();
  @include danger-light();
  @include warning-light();
  @include border-light();
  @include colors-light();
  @include boy-light();
  @include widget-light();
  @include alert-banner-light();
}
