@mixin theme-light {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent: #{$accent};
  background-color: #f2f2f2;
  @include q-avatar-light();
  @include q-breadcrumbs-light();
  @include q-card-light();
  @include q-carousel-light();
  @include q-drawer-light();
  @include q-field-control-light();
  @include q-header-light();
  @include q-item-light();
  @include q-linear-progress-light();
  @include q-menu-light();
  @include q-pagination-light();
  @include q-separator-light();
  @include q-table-light();
  @include q-toolbar-light();
  @include q-tab-panel-light();
  @include q-scrollarea-light();
  @include q-timeline-light();
  @include breadcrumbs-light();
  @include data-tables-light();
  @include error-banner-light();
  @include general-light();
  @include login-light();
  @include auth-layout-light();
  @include main-layout-light();
  @include business-layout-light();
  @include pagination-light();
  @include payment-detail-light();
  @include tooltip-light();
  @include lang-switcher-light();
  @include line-chart-light();
}
