@import "./vazir.scss";
@import "./roboto.scss";

body {
  font-family: "vazir", "Roboto", sans-serif;
  font-weight: 300;
}

.english {
  font-family: "Roboto", "vazir", sans-serif;
}

.persian {
  font-family: "vazir", "Roboto", sans-serif;
}

.arabic {
  font-family: "vazir", "Roboto", sans-serif;
}
