@mixin q-avatar-dark {
  .business-isnotowner .q-avatar__content {
    background-color: scale-color($dark-page, $lightness: 10%);
  }

  .delete-avatar {
    .q-avatar__content {
      background-color: $negative !important;
      color: #e1e4e8;
    }
  }
}
