@mixin q-breadcrumbs-dark {
  .q-breadcrumbs__el {
    color: $white;
  }

  .q-breadcrumbs__separator {
    color: $white;
  }

  .q-breadcrumbs__el.q-router-link--active {
    color: $yellow;
  }

  .q-breadcrumbs__el:hover {
    color: scale-color($yellow, $lightness: 20%);
  }
}
