@mixin q-field-control-dark{

  .q-field__control{
    color: $primary;
  }
  .q-field--outlined .q-field__control:before {
    background-color: $dark-page;
  }

  .q-item__label--caption .q-field__control {
    color: $white;
  }

  .q-item__label--caption .q-field__control {
    background-color: red;
  }

  .q-field__native.q-placeholder {
    color: $white;
  }

  .business-searchbox-mobile .q-field__control {
    padding: 0 8px 0 12px !important;
  }
}
