@mixin q-field-control-dark {
  .q-field__control {
    color: $primary;
  }
  .q-field--outlined .q-field__control:before {
    background-color: $dark;
  }

  .q-item__label--caption .q-field__control {
    color: $white;
  }

  .q-item__label--caption .q-field__control {
    background-color: red;
  }

  .q-field__native.q-placeholder {
    color: $white;
  }

  .searchbox .q-field__control {
    padding: 0 8px 0 12px !important;
  }

  .q-field__bottom {
    padding: 12px 0 !important;
    font-size: 14px !important;
    letter-spacing: 0 !important;
    color: $yellow !important;
  }

  // .lookup {
  //   .q-field__prepend {
  //     padding-right: 0;
  //   }
  // }
}
