body.body--dark{

  .q-field__control{
    color: $theme-primary;
  }
  .q-field--outlined .q-field__control:before {
    background-color: $theme-dark-page;
  }

  .q-item__label--caption .q-field__control {
    color: $white;
  }

  .q-item__label--caption .q-field__control {
    background-color: red;
  }

  .q-field__native.q-placeholder {
    color: $white;
  }
}
