@mixin q-item-dark {
  .menu-bar .q-item.q-router-link--active {
    background-color: #{$yellow}35;
    color: $yellow;
    font-weight: 700;

    .sub {
      font-weight: 700;
    }
  }

  .menu-bar .sub-item-container {
    border-left: 1px solid $white;
  }

  .statement-bar .sub-item-container {
    border-left: 1px solid $white;
  }

  .balance-sheet-expansion-item {
    .q-item {
      padding: 12px;
    }
  }

  .income-statement-expansion-item {
    .q-item {
      padding: 12px;
    }
  }

  .menu-bar
    .q-expansion-item--expanded
    .q-expansion-item__toggle-icon {
    color: $yellow !important;
  }

  .menu-bar
    .q-expansion-item--expanded
    > div
    > .q-item
    > .q-item__section--main {
    color: $yellow !important;
  }

  .menu-bar
    .q-expansion-item--expanded
    > div
    > .q-item
    > .q-item__section--side {
    color: $yellow !important;
  }

  .basic-info.q-expansion-item--expanded {
    .q-item {
      background-color: #00000020;
    }
  }

  .q-expansion-item--expanded.last {
    .q-item {
      border-radius: 0 !important;
    }
  }

  .q-item__label--caption {
    color: $grey-5 !important;
    font-size: 14px !important;
    letter-spacing: 0 !important;
  }

  .menu-bar .q-item {
    border-radius: 32px;
  }

  .menu-bar .q-item {
    min-height: 40px !important;
  }

  .menu-bar {
    .q-item__section--side {
      .q-icon {
        font-size: 21px;
      }
    }
  }

  .parent.highlighted .q-expansion-item__toggle-icon {
    color: $yellow;
  }

  .menu-bar {
    .active-shine {
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(
          to right,
          transparent 0%,
          rgba(255, 255, 0, 0.1) 25%,
          rgba(255, 255, 0, 0.15) 50%,
          rgba(255, 255, 0, 0.1) 75%,
          transparent 100%
        );
        animation: shine 2s infinite linear;
      }

      @keyframes shine {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(100%);
        }
      }
    }
  }

  .menu-bar-background {
    background: linear-gradient(
      180deg,
      $dark-page,
      scale-color($dark-page, $lightness: 5%)
    );
  }

  .q-item.q-router-link--active,
  .q-item--active {
    color: $yellow !important;
  }

  .q-item__section--avatar {
    min-width: 0;
  }

  .menu-bar .q-item .q-item__section--side {
    padding-right: 8px !important;
  }
}
