@mixin q-item-dark {
  .menu-bar .q-item.q-router-link--active {
    background-color: #{$primary}20;
    border-radius: 8px;
    border-left: 4px solid $primary;
    color: $primary;
    .q-icon {
      color: $primary;
    }
  }

  .q-expansion-item--expanded {
    .q-item__label {
      color: $primary;
    }

    .q-item__section--avatar {
        color: $primary;
    }
  }

  .basic-info.q-expansion-item--expanded {
    .q-item {
      background-color: #ffffff20;
    }
  }

  .q-item__label--caption {
    color: $accent;

  }
}
