@mixin q-item-dark {
  .menu-bar .q-item.q-router-link--active {
    background-color: #{$primary}20;
    border-radius: 8px;
    border-left: 4px solid $yellow;
    color: $yellow;
    margin-left: 16px;
    font-weight: 700;

    .sub {
      font-weight: 700;
    }

    .q-icon {
      color: $yellow;
    }
  }

  .menu-bar .sub-item.q-item.q-router-link--active {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .menu-bar .first-item.q-item.q-router-link--active {
    margin-bottom: 8px;

    .q-icon {
      color: $yellow
    }
  }

  .menu-bar .last-item.q-item.q-router-link--active {
    margin-top: 8px;
  }

  .q-expansion-item--expanded {
    .q-item__label {
      color: $yellow;
    }

    .q-item__section--avatar {
        color: $yellow;
    }
  }

  .basic-info.q-expansion-item--expanded {
    .q-item {
      background-color: #ffffff20;
    }
  }

  .q-expansion-item--expanded.last {
    .q-item {
      border-radius: 0 !important;
    }
  }

  .q-item__label--caption {
    color: $grey-6;

  }

}
