body.body--dark {
  .q-pagination .q-icon.notranslate.material-icons {
    color: $blue-theme-accent;
  }

  .q-pagination .q-btn__content {
    color: $white;
  }

  .pagination-el {
    background-color: $blue-theme-dark;
  }
}
