@mixin q-pagination-dark {
  .q-pagination .q-icon.notranslate.material-icons {
    color: #e1e4e8;
  }

  .q-pagination .q-btn__content {
    color: #e1e4e8;
  }

  .pagination-el {
    background-color: #e1e4e8;
  }
}
