@mixin q-dialog-dark {
  .q-dialog__backdrop {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .preview-dialog .q-dialog__inner--maximized > div {
    border-top-right-radius: 24px !important;
    border-top-left-radius: 24px !important;
  }
}
