@mixin q-tab-panel-dark {
  .q-tab-panel {
    background-color: $dark-page;
    border-radius: 16px !important;
  }

  .q-tab__label {
    // font-size: 16px !important;
  }

  .q-tab__indicator {
    height: 4px !important;
    border-radius: 4px !important;
  }

  .bottom-navigation {
    .q-tab--active .q-tab__indicator {
      height: 6px !important;
      border-radius: 4px !important;
      margin-left: 16px !important;
      margin-right: 16px !important;
    }
  }

  // .primary-tabs {
  //   .q-tab--active {
  //     background-color: #{$yellow}35;
  //   }

  //   .q-tab--active .q-tab__indicator {
  //     height: 4px !important;
  //     border-radius: 4px !important;
  //   }

  //   .q-tab {
  //     border-top-left-radius: 16px !important;
  //     border-top-right-radius: 16px !important;
  //   }
  // }

  // .primary-tabs {
  //   background: linear-gradient(
  //     90deg,
  //     darken($primary, 5),
  //     lighten($primary, 5)
  //   );
  // }

  .wrap-tab {
    .q-tabs__content {
      flex-wrap: wrap !important;
    }
  }
}
