body.body--dark {
  .q-table {
    .filter {
      border-bottom: 1px solid $blue-theme-secondary;
    }
    .row-active {
      background-color: #{$blue-theme-primary}20 !important;
    }
  }

  .q-table__container {
    background-color: $blue-theme-dark-page;
  }
}
