@mixin q-table-dark {
  .q-table__container {
    background-color: $dark;
  }

  .q-table__bottom {
    padding: 15px;
  }

  .q-table {
    th {
      font-weight: bold !important;
      font-size: 14px !important;
      padding: 6px;
    }

    th:first-child {
      padding-left: 16px;
    }

    th:last-child {
      padding-right: 16px;
    }

    td {
      font-size: 14px !important;
      padding: 6px;
    }

    td:first-child {
      padding-left: 16px;
    }

    td:last-child {
      padding-right: 16px;
    }
  }

  div.expand {
    padding: 24px 36px 36px 36px;
  }

  .print-preview-table {
    width: 100%;
    border-collapse: collapse;
  }
  .print-preview-table th,
  .print-preview-table td {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
  }
  .print-preview-table th {
    background-color: $dark;
  }

  .balance-sheet-preview-table {
    width: 100%;
    border-collapse: collapse;
  }
  .balance-sheet-preview-table th,
  .balance-sheet-preview-table td {
    border: none;
    padding: 5px;
    text-align: start;
  }
  .balance-sheet-preview-table th {
    background-color: $dark;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .q-markup-table--impacted {
    .q-table {
      th {
        font-weight: bold !important;
        font-size: 14px !important;
        padding: 6px 2px !important;
      }

      th:first-child {
        padding-left: 8px !important;
      }

      th:last-child {
        padding-right: 8px !important;
      }

      td {
        font-size: 14px !important;
        padding: 6px 2px !important;
      }

      td:first-child {
        padding-left: 8px !important;
      }

      td:last-child {
        padding-right: 8px !important;
      }
    }
  }

  .striped-table {
    width: 100%;
    border-collapse: collapse;
  }

  .striped-table th,
  .striped-table td {
    border: none;
    padding: 8px;
  }

  .striped-table th {
    background-color: #f8f9fa;
    text-align: left;
  }

  .striped-table tr:nth-child(even) {
    background-color: $dark;
  }

  @media print {
    .balance-sheet-preview-table {
      width: 100%;
      border-collapse: collapse;
    }
    .balance-sheet-preview-table th,
    .balance-sheet-preview-table td {
      border: none;
      padding: 5px;
      text-align: start;
    }
    .balance-sheet-preview-table th {
      background-color: #f2f2f2;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .print-preview-table {
      width: 100%;
      border-collapse: collapse;
    }
    .print-preview-table th,
    .print-preview-table td {
      border: 1px solid black;
      padding: 5px;
      text-align: start;
    }
    .print-preview-table th {
      background-color: #f2f2f2;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .striped-table {
      width: 100%;
      border-collapse: collapse;
    }

    .striped-table th,
    .striped-table td {
      border: none;
      padding: 8px;
    }

    .striped-table th {
      background-color: #f2f2f2;
      -webkit-print-color-adjust: exact;
      text-align: left;
    }

    .striped-table tr:nth-child(even) {
      background-color: #f2f2f2;
      -webkit-print-color-adjust: exact;
    }
  }
}
