@mixin q-tab-panel-dark {
  .q-tab-panel {
    background-color: $dark;
    border-radius: 16px !important;
  }

  @media (max-width: $breakpoint-xs-max) {
    .q-tab-panel {
      background-color: $dark-page;
    }
  }

  .q-tab__indicator {
    height: 4px !important;
    border-radius: 4px !important;
  }

  .bottom-navigation {
    .q-tab--active .q-tab__indicator {
      height: 6px !important;
      border-radius: 4px !important;
      margin-left: 16px !important;
      margin-right: 16px !important;
    }
  }

  .wrap-tab {
    .q-tabs__content {
      flex-wrap: wrap !important;
    }
  }
}
