@mixin theme-dark {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent: #{$accent};
  --q-dark: #{$dark};

  .q-dark {
    color: #e1e4e8;
  }

  @include q-avatar-dark();
  @include q-tree-dark();
  @include q-breadcrumbs-dark();
  @include q-card-dark();
  @include q-carousel-dark();
  @include q-drawer-dark();
  @include q-field-control-dark();
  @include q-header-dark();
  @include q-item-dark();
  @include q-linear-progress-dark();
  @include q-menu-dark();
  @include q-pagination-dark();
  @include q-table-dark();
  @include q-toolbar-dark();
  @include q-tab-panel-dark();
  @include q-separator-dark();
  @include q-scrollarea-dark();
  @include q-timeline-dark();
  @include q-dialog-dark();
  @include breadcrumbs-dark();
  @include auth-layout-dark();
  @include business-layout-dark();
  @include data-tables-dark();
  @include error-banner-dark();
  @include general-dark();
  @include login-dark();
  @include main-layout-dark();
  @include payment-detail-dark();
  @include tooltip-dark();
  @include lang-switcher-dark();
  @include pagination-dark();
  @include line-chart-dark();
  @include bar-chart-dark();
  @include pie-chart-dark();
  @include area-chart-dark();
  @include bottom-navigation-dark();
  @include main-container-dark();
  @include breakpoints-dark();
  @include create-form-dark();
  @include tips-dark();
  @include danger-dark();
  @include warning-dark();
  @include border-dark();
  @include colors-dark();
  @include boy-dark();
  @include widget-dark();
  @include alert-banner-dark();
  @include chat-dark();
}
