.highlighted-item {
  position: relative;
  border: 1px solid $primary !important;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid $primary;
    border-radius: inherit;
    opacity: 1;
    box-shadow: 0 0 5px rgba($primary, 0.6);
    pointer-events: none;
    will-change: opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
    animation: borderFade 1s ease-out forwards;
  }
}

@keyframes borderFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

