@mixin breakpoints-dark {

  @media (max-width: $breakpoint-xs-max) {
    .main-container {
      padding-left: 24px;
      padding-right: 24px;
    }

    .line-chart .apexcharts-legend {
      padding-left: 8px;
      padding-right: 8px;
      display: flex;
      justify-content: flex-end;
  }

  }

  @media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
    .main-container {
      // width: 560px;
      padding-left: 38px;
      padding-right: 38px;
    }

    .row-active {
      border-radius: 50px;
    }

  }

  @media (min-width: $breakpoint-md-min)  {
    .main-container {
      // width: 100% !important;
      padding-left: 38px;
      padding-right: 38px;
    }

    .row-active {
      border-radius: 50px;
    }

  }

}
