@mixin breakpoints-dark {
  @media (max-width: $breakpoint-xs-max) {
    .toolbar-glass-effect {
      background: linear-gradient(
        180deg,
        #{$dark-page}80,
        lighten($dark-page, 5)
      );
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    .main-container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .line-chart .apexcharts-legend {
      padding-left: 8px;
      padding-right: 8px;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
    .main-container {
      padding-left: 38px;
      padding-right: 38px;
    }

    .data-view {
      .row-active {
        border-radius: 50px;
      }
    }

    .toolbar-glass-effect {
      background: linear-gradient(
        180deg,
        #{$dark-page}80,
        lighten($dark-page, 5)
      );
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }

  @media (min-width: $breakpoint-md-min) {
    .main-container {
      padding-left: 38px;
      padding-right: 38px;
    }

    .data-view {
      .row-active {
        border-radius: 50px;
      }
    }

    .theme-settings-container {
      width: 900px;
    }
    .change-password-container {
      width: 900px;
    }

    .toolbar-glass-effect {
      background: linear-gradient(
        180deg,
        #{$dark-page}80,
        lighten($dark-page, 5)
      );
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }
}
