@mixin colors-dark {
  .grey-gradient {
    background: linear-gradient(310deg, $grey-8, $grey-7);
  }
  .green-gradient {
    background: linear-gradient(310deg, $green-9, $green-7);
  }
  .orange-gradient {
    background: linear-gradient(310deg, $orange-9, $orange-7);
  }
  .red-gradient {
    background: linear-gradient(310deg, $negative, $red-7);
  }
  .bluegrey-gradient {
    background: linear-gradient(310deg, $blue-grey-9, $blue-grey-7);
  }
  .pink-gradient {
    background: linear-gradient(310deg, $pink, $pink-4);
  }
  .primary-gradient {
    background: linear-gradient(
      310deg,
      $primary,
      lighten($primary, 8)
    );
  }

  .primary-gradient-1 {
    background: linear-gradient(180deg, $dark-page, $primary 1000%);
  }

  // .toolbar-glass-effect {
  //   background: linear-gradient(
  //     180deg,
  //     #{$dark-page}80,
  //     lighten($dark-page, 5)
  //   );
  //   backdrop-filter: blur(10px);
  //   -webkit-backdrop-filter: blur(10px);
  // }
}
