@mixin create-form-dark {
  .form-container {
    margin-top: 32px;
  }

  .form-container.q-card {
    border: 1px solid #ffffff47 !important;
  }

  .form-container .q-card__section {
    padding: 32px !important;
  }

  @media (max-width: $breakpoint-xs-max) {
    .form-container {
      margin-top: 46px;
    }

    .form-container.q-card {
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }

    .form-container .q-card__section {
      margin-top: 10px !important;
      padding: 0 !important;
    }
  }

  @media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
    .form-container {
      margin-top: 38px;
    }
  }
}
