body.body--dark {
  //lookup
  .lookup-table-body tr:hover {
    background-color: #{$theme-primary}10;
  }

  .lookup-table-body {
    padding: 20px;
    border-top: 2px solid $theme-primary;
  }

  .inner-loader {
    background-color: #{$theme-primary}20;
  }

  .glass {
    background: #{$theme-primary}10;
    border-radius: 4px;
    box-shadow: 0 2px 20px #{$theme-dark-page};
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $theme-primary;
  }

  //Grid
  .selected {
    background-color: #{$theme-dark}30;
    border-radius: 4px;
  }

  .grid-total {
    background-color: darken($theme-secondary, 20%);
  }

  .grid-subtotal {
    background-color: #{$theme-accent};
  }

  //dataView
  .selected-row {
    background-color: #{$theme-primary}20 !important;
    outline: 1px solid $theme-primary !important;
    box-shadow: 0 0 4px 0 #{$theme-primary}20 !important;
  }
}
