@mixin data-tables-dark {
  .lookup-table-body tr:hover {
    background-color: #{$white}10;
  }

  .lookup-table-body {
    padding: 20px;
    border-top: 2px solid $primary;
  }

  .inner-loader {
    background-color: #{$primary}20;
  }

  .glass {
    background: #{$primary}10;
    border-radius: 4px;
    box-shadow: 0 2px 20px #{$dark-page};
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $primary;
  }

  .grid-total {
    background: linear-gradient(
      310deg,
      $primary,
      scale-color($primary, $lightness: 8%)
    );
  }

  .grid-subtotal {
    background: linear-gradient(310deg, $blue-grey-9, $blue-grey-7);
    color: $white;
  }

  .row-active {
    background-color: #{$primary}20 !important;
    td {
      box-shadow: 0 0.8px 0 $primary inset, 0 -0.8px 0 $primary inset;
    }
  }

  .row-selected {
    background-color: scale-color($dark-page, $lightness: 5%);
  }

  .div-table-container {
    outline: 1px solid rgba(255, 255, 255, 0.28);
  }
  .div-table-cell {
    outline: 1px solid rgba(255, 255, 255, 0.28);
  }

  .invoice-preview-table {
    tbody {
      tr:hover {
        background-color: rgba(255, 255, 255, 0.28);
      }
    }

    th {
      border-bottom: 1px solid $grey-6;
      border-top: 1px solid $grey-6;
    }
  }
}
