@mixin general-dark {
  .icon-hover.q-icon:hover {
    opacity: 0.7 !important;
  }

  ::selection {
    background-color: $primary;
    color: white;
  }

  .text-on-dark {
    color: $white;
  }

  .mirror {
    transform: scaleX(-1);
  }

  .caption-on-dark {
    color: $grey-5;
  }

  .text-body3 {
    font-size: 13px;
  }

  .text-caption-sm {
    font-size: 11px;
  }

  .card-hover:hover {
    background-color: $dark;
    transition: 300ms;
  }

  .bg-on-dark {
    background-color: lighten($dark, 5);
  }

  .text-on-dark-1 {
    color: darken($white, 40);
  }

  .icon {
    color: $white;
  }

  .line-height-xs {
    line-height: 24px;
  }

  .line-height-sm {
    line-height: 28px;
  }

  .line-height-md {
    line-height: 32px;
  }

  .line-height-lg {
    line-height: 36px;
  }

  .line-height-xl {
    line-height: 40px;
  }

  .no-letter-spacing {
    letter-spacing: 0 !important;
  }

  .link {
    color: $primary;
  }

  .z-1 {
    z-index: 1;
  }

  .z-2 {
    z-index: 2;
  }

  .glass {
    background-color: #{$dark-page}80;
    backdrop-filter: blur(42px);
  }

  .alert-glass-style {
    backdrop-filter: blur(42px);
    background-color: #{$warning}10;
  }

  // .theme-place {
  //   border-left: 1px solid #ffffff47;
  //   border-right: 1px solid #ffffff47;
  // }

  .dark-1 {
    background-color: $dark;
  }

  .dark-2,
  .dark-3 {
    color: $accent;
  }

  //for change color of drawer and header of main layout at dark mode
  .bg-dark {
    background-color: $dark-page !important;
  }

  .bg-main {
    background-color: $dark-page;
  }

  .no-outline {
    outline: none;
  }

  .text-level-2 {
    color: #ffffff47;
    &:hover {
      color: $white;
    }
  }

  .rtl {
    direction: rtl !important;
  }

  .ltr {
    direction: ltr !important;
  }

  .btn-active {
    background-color: #ffffff40;
    border-radius: 100%;
  }

  .active-on-select {
    background-color: lighten($dark, 5);
    border: 1px solid $primary !important;
  }

  .important-row {
    background-color: $dark-page;
  }
}
