@mixin login-dark {
  .login-header {
    background-color: transparent;
  }

  .card-layout {
    background: #{$dark-page}40;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid $dark;
  }
}
