@mixin login-dark {

  .login-card {
    background: #{$dark-page}40;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .login-card-pic {
    background-color: lighten($dark-page, 5);
  }

}
