body.body--dark {

  .dark-1 {
    background-color: $dark;
  }

  .dark-2,
  .dark-3 {
    color: $dark-4;
  }

  .dark-1-bg {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #{$primary}30;
  }

  .bg-dark {
    background-color: $dark-page !important;
  }
}
