@mixin line-chart-dark($rtl: false) {
  $padding-direction: if($rtl, padding-left, padding-right);

  .line-chart .apexcharts-tooltip {
    backdrop-filter: blur(16px) !important;
    background-color: var(--q-dark) !important;
    color: white !important;
    padding-top: 12px;
    padding-bottom: 12px;
    #{$padding-direction}: 16px;
    border: 1px solid #ffffff47 !important;
    direction: if($rtl, rtl, ltr);
  }

  .line-chart .apexcharts-tooltip-title {
    padding: 4px 16px 0 16px;
    color: white !important;
    font-weight: 600 !important;
    background-color: transparent !important;
    border: none !important;
  }

  .line-chart .apexcharts-tooltip-series-group {
    justify-content: flex-start !important;

  }

  .line-chart .apexcharts-tooltip-marker {
    width: 8px !important;
    height: 8px !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
  }

  .line-chart .apexcharts-xaxistooltip,
  .apexcharts-yaxistooltip {
    backdrop-filter: blur(8px) !important;
    background-color: var(--q-dark) !important;
    color: white !important;
    border: 1px solid #ffffff47 !important;
    z-index: 99;
  }

  .line-chart .apexcharts-legend {
    padding: 0;
}

.line-chart .apexcharts-canvas {
  position: absolute !important;
  bottom: 0 !important;
}

.line-chart svg {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

}
