@mixin breakpoints-light {
  @media (max-width: $breakpoint-xs-max) {
    .main-container {
      padding-left: 24px;
      padding-right: 24px;
    }

    .line-chart .apexcharts-legend {
      padding-left: 8px;
      padding-right: 8px;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
    .main-container {
      padding-left: 38px;
      padding-right: 38px;
    }
    
    .data-view {
      .row-active {
        border-radius: 50px;
      }
    }

  }

  @media (min-width: $breakpoint-md-min) {
    .main-container {
      padding-left: 38px;
      padding-right: 38px;
    }

    .data-view {
      .row-active {
        border-radius: 50px;
      }
    }

    .theme-settings-container {
      width: 900px;
    }
  }
}
