@mixin business-layout-light {
  .business-layout {
    background-color: darken($primary, 10);
  }

  .business-header {
    background-color: darken($primary, 10);
    border-bottom: 1px solid #{$white}50;
  }
}
