@mixin create-form-light {
  .form-container {
    margin-top: 48px;
  }

  .form-container.q-card {
    border: 1px solid #00000024 !important;
    box-shadow: 0 2px 10px 0 rgba(58, 53, 65, 0.1),
    0 0 4px 0 rgba(0, 0, 0, 0.067) !important;
  }

  .form-container .q-card__section {
    padding: 48px !important;
  }

  @media (max-width: $breakpoint-xs-max) {
    .form-container {
      margin-top: 56px;
    }

    .form-container.q-card {
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }

    .form-container .q-card__section {
      margin-top: 10px !important;
      padding: 0 !important;
    }
  }

  @media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
    .form-container {
      margin-top: 60px;
    }
  }
}
