@mixin data-tables-light {
  .lookup-table-body tr:hover {
    background-color: #{$black}10;
  }

  .lookup-table-body {
    padding: 20px;
    border-top: 2px solid $primary;
  }

  .inner-loader {
    background-color: #{$primary}20;
  }

  .glass {
    background: #{$primary}10;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $primary;
  }

  .grid-total {
    background: linear-gradient(
      310deg,
      $primary,
      scale-color($primary, $lightness: 8%)
    );
    color: $white;
  }

  .grid-subtotal {
    color: $white;
    background: linear-gradient(310deg, $blue-grey-9, $blue-grey-7);
  }

  .row-active {
    background-color: #{$primary}30 !important;
    td {
      box-shadow: 0 0.8px 0 $primary inset, 0 -0.8px 0 $primary inset;
    }
  }

  .row-selected {
    background-color: #{$primary}10;
  }

  .div-table-container {
    outline: 1px solid rgba(0, 0, 0, 0.12);
  }
  .div-table-cell {
    outline: 1px solid rgba(0, 0, 0, 0.12);
  }

  .invoice-preview-table {
    tbody {
      // tr:hover {
      //   background-color: #00000012;
      // }
    }

    th {
      border-bottom: 1px solid $grey-6;
      border-top: 1px solid $grey-6;
    }
  }
}
