@mixin general-light {
  ::selection {
    background-color: $primary;
    color: white;
  }

  .bg-light {
    background-color: $bg-main;
  }

  .icon-hover.q-icon:hover {
    opacity: 0.7 !important;
  }

  .text-on-dark {
    color: $black;
  }

  .caption-on-dark {
    color: #424242;
  }

  .text-body3 {
    font-size: 13px;
  }

  .text-caption-sm {
    font-size: 11px;
  }

  .card-hover:hover {
    background-color: #00000010;
    transition: 300ms;
  }

  .text-on-dark-1 {
    color: scale-color($black, $lightness: 30%);
  }

  .bg-on-dark {
    background-color: #f0f0f0;
  }

  .icon {
    color: #2d2d2d80;
  }

  .q-input-border {
    border: 1px solid rgba(0, 0, 0, 0.2784313725) !important;
  }

  .mirror {
    transform: scaleX(-1);
  }

  .shadow {
    box-shadow: 0 2px 15px 0 rgba(110, 110, 110, 0.1),
      0 0 5px 0 rgba(0, 0, 0, 0.027) !important;
  }

  .line-height-xs {
    line-height: 24px;
  }

  .line-height-sm {
    line-height: 28px;
  }

  .line-height-md {
    line-height: 32px;
  }

  .line-height-lg {
    line-height: 36px;
  }

  .line-height-xl {
    line-height: 40px;
  }

  .z-1 {
    z-index: 1;
  }

  .z-2 {
    z-index: 2;
  }

  .glass {
    background-color: #{$white}80;
    backdrop-filter: blur(42px);
  }

  .alert-glass-style {
    backdrop-filter: blur(42px);
    background-color: #{$warning}10;
  }

  .dark-1 {
    background-color: #e7e7e7;
  }

  .dark-2,
  .dark-3 {
    color: #{$black}60;
  }

  .bg-dark {
    background-color: $white !important;
  }

  .bg-main {
    background-color: $bg-main;
  }

  @media (max-width: $breakpoint-xs-max) {
    .bg-main {
      background-color: $white !important;
    }

    .bg-light {
      background-color: $white !important;
    }
  }

  .no-outline {
    outline: none;
  }

  .text-level-2 {
    color: #707070;
    &:hover {
      color: #2d2d2d;
    }
  }

  .rtl {
    direction: rtl !important;
  }

  .ltr {
    direction: ltr !important;
  }

  // . {
  //   letter-spacing: 0 !important;
  // }

  .link {
    color: $primary;
  }

  .btn-active {
    background-color: #00000017;
    border-radius: 100%;
  }

  .orange-shadow {
    box-shadow: 0 4px 8px -4px $orange-7;
  }

  .red-shadow {
    box-shadow: 0 4px 8px -4px orangered;
  }

  .red-1-shadow {
    box-shadow: 0 4px 8px -4px #ff000062;
  }

  .green-shadow {
    box-shadow: 0 4px 8px -4px $positive;
  }

  .grey-shadow {
    box-shadow: 0 4px 8px -4px #505050;
  }

  .blue-shadow {
    box-shadow: 0 4px 8px -4px #009be3;
  }

  .pink-shadow {
    box-shadow: 0 4px 8px -4px #e91e63;
  }

  .bluegrey-shadow {
    box-shadow: 0 4px 8px -4px #607d8b;
  }

  .primary-shadow {
    box-shadow: 0 4px 8px -4px $primary;
  }

  .important-row {
    background-color: $white;
  }
}
