@mixin general-light {
  .icon-hover.q-icon:hover {
    color: #{$black}50;
  }

  .text-on-dark {
    color: $black;
  }

  // .theme-place {

  //   border-left: 1px solid #2d2d2d2d;
  //   border-right: 1px solid #2d2d2d2d;

  // }

  .dark-1 {
    background-color: lighten($black, 77);
  }

  .dark-2,
  .dark-3 {
    color: #{$black}60;
  }

  //for change color of drawer and header of main layout at dark mode
  .bg-dark {
    background-color: $white !important;
  }

  .bg-main {
    background-color: $main-color !important;
  }
}
