@mixin general-light {
  ::selection {
    background-color: $primary;
    color: white;
  }

  .bg-light {
    background-color: $main-color;
  }

  .icon-hover.q-icon:hover {
    opacity: 0.7 !important;
  }

  .text-on-dark {
    color: $black;
  }

  .caption-on-dark {
    color: $grey-8;
  }

  .text-body3 {
    font-size: 13px;
  }

  .text-caption-sm {
    font-size: 11px;
  }

  .card-hover:hover {
    background-color: #00000010;
    transition: 300ms;
  }

  .text-on-dark-1 {
    color: lighten($black, 30);
  }

  .bg-on-dark {
    background-color: #f0f0f0;
  }

  .icon {
    color: #2d2d2d80;
  }

  .bordered-btn {
    border: 1px solid #d9dce5;
    box-shadow: 0 0 2px 0 #dedede;
  }

  .bordered {
    border: 1px solid #00000024 !important;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1) !important;
  }

  .bordered-1 {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 4px;
  }

  .q-border-1 {
    border: 1px $primary solid;
  }

  .q-border-2 {
    border: 2px $primary solid;
  }

  .q-border-3 {
    border: 3px $primary solid;
  }

  .q-border-4 {
    border: 4px  $primary solid;
  }

  .border-radius-xs {
    border-radius: 4px;
  }

  .border-radius-sm {
    border-radius: 4px;
  }

  .border-radius-md {
    border-radius: 6px;
  }

  .border-radius-lg {
    border-radius: 8px;
  }

  .border-radius-xl {
    border-radius: 16px;
  }

  .line-height-xs {
    line-height: 24px;
  }

  .line-height-sm {
    line-height: 28px;
  }

  .line-height-md {
    line-height: 32px;
  }

  .line-height-lg {
    line-height: 36px;
  }

  .line-height-xl {
    line-height: 40px;
  }

  .z-1 {
    z-index: 1;
  }

  .glass {
    background-color: #{$white}80;
    backdrop-filter: blur(42px);
  }

  .alert-glass-style {
    backdrop-filter: blur(42px);
    background-color: #{$warning}10;
  }

  // .theme-place {

  //   border-left: 1px solid #2d2d2d2d;
  //   border-right: 1px solid #2d2d2d2d;

  // }

  .dark-1 {
    background-color: lighten($black, 70);
  }

  .dark-2,
  .dark-3 {
    color: #{$black}60;
  }

  //for change color of drawer and header of main layout at dark mode
  .bg-dark {
    background-color: $white !important;
  }

  .bg-main {
    background-color: $main-color !important;
  }

  .no-outline {
    outline: none;
  }

  .text-level-2 {
    color: #707070;
    &:hover {
      color: #2d2d2d;
    }
  }

  .rtl {
    direction: rtl !important;
  }

  .ltr {
    direction: ltr !important;
  }

  .no-letter-spacing {
    letter-spacing: 0 !important;
  }

  .link {
    color: $primary;
  }

  .btn-active {
    background-color: #00000017;
    border-radius: 100%;
  }

  .orange-shadow {
    box-shadow: 0 4px 8px -4px $warning;
  }

  .red-shadow {
    box-shadow: 0 4px 8px -4px orangered;
  }

  .green-shadow {
    box-shadow: 0 4px 8px -4px $positive;
  }

  .grey-shadow {
    box-shadow: 0 4px 8px -4px #505050;
  }

  .blue-shadow {
    box-shadow: 0 4px 8px -4px #009be3;
  }

  .pink-shadow {
    box-shadow: 0 4px 8px -4px #e91e63;
  }

  .bluegrey-shadow {
    box-shadow: 0 4px 8px -4px #607d8b;
  }

  .primary-shadow {
    box-shadow: 0 4px 8px -4px $primary;
  }

  .active-on-select {
    background-color: lighten($primary, 45);
    border: 1px solid $primary !important;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1) !important;
  }

  .important-row {
    background-color: $white;
  }
}
