@mixin login-light {
  .login-card {
    background: $white;
    width: 850px;
    border-radius: 48px;
  }

  .login-card-pic {
    background-color: $white;
  }

  .boy-animation-filter {
    filter: drop-shadow(0 0 15px #00000012);
    border: 1px solid #00000047;
    border-radius: 8px;
    background-color: whitesmoke;
  }

  .logo {
    filter: brightness(0) invert(1);
  }

  .signup {
    animation: wiggle 2s linear infinite;
  }

  .signup:hover {
    animation: none;
  }

  @keyframes wiggle {
    0%,
    7% {
      transform: rotateZ(0);
    }

    15% {
      transform: rotateZ(-15deg);
    }

    20% {
      transform: rotateZ(10deg);
    }

    25% {
      transform: rotateZ(-10deg);
    }

    30% {
      transform: rotateZ(6deg);
    }

    35% {
      transform: rotateZ(-4deg);
    }

    40%,
    100% {
      transform: rotateZ(0);
    }
  }

  .login {
    .q-field__control {
      height: 45px;
      display: flex;
      align-items: center;
      outline: none;
    }
  }

  .captcha {
    width: 150px;
    height: 45px;
    overflow: hidden;
  }
}
