@mixin login-light {

  .login-card {
    background: #{$accent}20;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #{$accent}30;
  }
}
