@import "/src/css/fonts/main.scss";
@import "/src/css/quasar.variables.scss";
@import "/src/css/typography/index.scss";
@import "/src/css/animation/index.scss";
///////////////////////////////////////////
@import "/src/css/themes/light/default/quasar/card";
@import "/src/css/themes/light/default/quasar/header";
@import "/src/css/themes/light/default/quasar/table";
@import "/src/css/themes/light/default/quasar/menu";
@import "/src/css/themes/light/default/quasar/separator";
@import "/src/css/themes/light/default/quasar/avatar";
@import "/src/css/themes/light/default/quasar/pagination";
@import "/src/css/themes/light/default/quasar/breadcrumbs";
@import "/src/css/themes/light/default/quasar/field-control";
@import "/src/css/themes/light/default/quasar/carousel";
@import "/src/css/themes/light/default/quasar/toolbar";
@import "/src/css/themes/light/default/quasar/scrollarea";
@import "/src/css/themes/light/default/quasar/timeline";
@import "/src/css/themes/light/default/quasar/linear-progress";
@import "/src/css/themes/light/default/quasar/item";
@import "/src/css/themes/light/default/quasar/drawer";
@import "/src/css/themes/light/default/quasar/tab-panel";
@import "/src/css/themes/light/default/quasar/q-dialog";
@import "/src/css/themes/light/default/custom/bottom-navigation.scss";
@import "/src/css/themes/light/default/custom/main-container";
@import "/src/css/themes/light/default/custom/breakpoints";
@import "/src/css/themes/light/default/custom/create-form";
@import "/src/css/themes/light/default/custom/tips";
@import "/src/css/themes/light/default/custom/danger";
@import "/src/css/themes/light/default/custom/border";
@import "/src/css/themes/light/default/custom/colors";
@import "/src/css/themes/light/default/custom/index.scss";
@import "/src/css/themes/light/default/Charts/index.scss";
@import "/src/css/themes/light/default/app.scss";
//////////////////////////////////////////
@import "/src/css/themes/dark/default/quasar/card";
@import "/src/css/themes/dark/default/quasar/header";
@import "/src/css/themes/dark/default/quasar/table";
@import "/src/css/themes/dark/default/quasar/menu";
@import "/src/css/themes/dark/default/quasar/separator";
@import "/src/css/themes/dark/default/quasar/avatar";
@import "/src/css/themes/dark/default/quasar/pagination";
@import "/src/css/themes/dark/default/quasar/breadcrumbs";
@import "/src/css/themes/dark/default/quasar/field-control";
@import "/src/css/themes/dark/default/quasar/carousel";
@import "/src/css/themes/dark/default/quasar/toolbar";
@import "/src/css/themes/dark/default/quasar/scrollarea";
@import "/src/css/themes/dark/default/quasar/timeline";
@import "/src/css/themes/dark/default/quasar/linear-progress";
@import "/src/css/themes/dark/default/quasar/item";
@import "/src/css/themes/dark/default/quasar/drawer";
@import "/src/css/themes/dark/default/quasar/tab-panel";
@import "/src/css/themes/dark/default/quasar/q-dialog";
@import "/src/css/themes/dark/default/custom/bottom-navigation.scss";
@import "/src/css/themes/dark/default/custom/main-container";
@import "/src/css/themes/dark/default/custom/create-form";
@import "/src/css/themes/dark/default/custom/tips";
@import "/src/css/themes/dark/default/custom/danger";
@import "/src/css/themes/dark/default/custom/border";
@import "/src/css/themes/dark/default/custom/colors";
@import "/src/css/themes/dark/default/custom/breakpoints";
@import "/src/css/themes/dark/default/custom/index.scss";
@import "/src/css/themes/dark/default/Charts/index.scss";
@import "/src/css/themes/dark/default/app.scss";
//////////////////////////////////////////

.body--light {
  @include theme-light;
}

.body--dark {
  @include theme-dark;
}

@each $theme-name, $theme-colors in $themes {
  $primary: map-get($theme-colors, primary);
  $secondary: map-get($theme-colors, secondary);
  $accent: map-get($theme-colors, accent);
  $dark: map-get($theme-colors, dark);
  $dark-page: map-get($theme-colors, dark-page);
  $hover-dark: map-get($theme-colors, secondary);
  $bg-main: map-get($theme-colors, bg-main);

  .body--light.theme--#{$theme-name} {
    @include theme-light;
  }

  .body--dark.theme--#{$theme-name} {
    @include theme-dark;
  }
}

