body.body--dark {
  .q-card,
  .q-header {
    background-color: $dark-6;
  }
  .page-title,
  .q-toolbar,
  .q-toolbar a,
  .username,
  .business-name,
  .business-name-icon,
  .login-form,
  .q-item__label--caption .q-field__control {
    color: $white;
  }

  .q-item__label--caption .q-field__control {
    background-color: red;
  }

  .q-avatar__content {
    background-color: #56639789;
  }

  .dark-1 .q-avatar__content {
    background-color: $dark-5;
  }

  .dark-1,
  .business-isowner .q-avatar__content {
    background-color: $dark;
  }

  .business-isnotowner .q-avatar__content {
    background-color: $dark-5;
  }

  .dark-2,
  .dark-3 {
    color: $dark-4;
  }

  .q-pagination .q-icon.notranslate.material-icons {
    color: $dark-4;
  }

  .q-pagination .q-btn__content {
    color: $accent;
  }

  .add-new-business {
    background-color: $green;
    color: $white;
  }

  .selected {
    background-color: #5663972f;
    border-radius: 4px;
  }

  .login-header {
    background-color: $dark-page;
  }

  .login-page,
  .login-form {
    background-color: #040c2d;
  }

  .q-field--outlined .q-field__control:before {
    background-color: $dark;
  }

  .q-field__control,
  .q-linear-progress,
  .q-carousel__navigation-inner .q-btn,
  .q-carousel__arrow .q-icon {
    color: $primary;
  }

  .hamb {
    color: $white;
  }

  .bread-crumbs {
    background-color: #0c1745;
    color: white;
  }

  .pagination-el {
    background-color: $dark;
  }
}

body.body--light {
  background-color: #84e3ff;
  .q-header {
    background-color: $white;
  }

  .dark-icon .q-avatar__content,
  .business-isnotowner .q-avatar__content {
    background-color: $dark-1;
  }

  .business-isowner .q-avatar__content {
    background-color: $primary;
    color: $white;
  }

  .dark-1 {
    background-color: $dark-1;
  }

  .dark-2 {
    color: $dark-3;
  }

  .dark-3 {
    color: $dark-3;
  }

  .q-pagination .q-icon.notranslate.material-icons {
    color: $black;
  }

  .add-new-business {
    background-color: $green;
    color: $white;
  }

  .selected {
    background-color: $select;
    border-radius: 4px;
  }

  .login-header,
  .login-page,
  .login-form {
    background-color: #fbfbfb;
  }

  .q-field--outlined .q-field__control:before {
    background-color: white;
  }

  .hamb {
    color: $black;
  }

  .bread-crumbs {
    background-color: #e4f8ff;
  }
}

// Theme: Blue
body.theme--blue {
  --q-primary: #00aeff;
  .profile-pic .q-avatar__content {
    background-color: $primary;
  }

  .q-field__control {
    color: $primary;
  }

  .q-field__control,
  .q-linear-progress,
  .q-carousel__navigation-inner .q-btn,
  .q-carousel__arrow .q-icon {
    color: $primary;
  }
}

// Theme: Orange
body.theme--orange {
  --q-primary: orangered;

  .profile-pic .q-avatar__content {
    background-color: orange;
  }

  .q-field__control,
  .q-linear-progress,
  .q-carousel__navigation-inner .q-btn,
  .q-carousel__arrow .q-icon {
    color: orangered;
  }
}

// Theme: Greeen
body.theme--green {
  --q-primary: green;

  .profile-pic .q-avatar__content {
    background-color: $green;
  }

  .q-field__control,
  .q-linear-progress,
  .q-carousel__navigation-inner .q-btn,
  .q-carousel__arrow .q-icon {
    color: $green;
  }
}
