// Quasar Theme Colors //////
$primary: #009be3;
$secondary: #586599;
$accent: #a3acd2;
$dark: #141f48;
$dark-1: #f0f0f0;
$dark-2: #c4c4c4;
$dark-3: #acacac;
$purple: #c729df;
$dark-4: #a3acd2;
$dark-5: #586599;
$dark-6: #040c2d;
$white: #ffffff;
$black: #393939;
$dark-page: #040c2d;
$select: #f5f5f5;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$main-color: rgb(244, 245, 250);

$themes: (
  green: (
    primary: #00b200,
    secondary: #2e8b57,
    accent: #5f9ea0,
    dark: #003300,
    dark-page: #001100
  ),
  orange: (
    primary: #ff6600,
    secondary: #92673d,
    accent: #fdb46b,
    dark: #37261d,
    dark-page: #170000
  ),
  purple: (
    primary: #c729df,
    secondary: #934593,
    accent: #d08ad0,
    dark: #312846,
    dark-page: #15152b
  ),
  blue: (
    primary: #009be3,
    secondary: #586599,
    accent: #a3acd2,
    dark: #141f48,
    dark-page: #040c2d
  ),
  // golden: (
  //   primary: #c89002,
  //   secondary: #ff9900,
  //   accent: #ffdb4d,
  //   dark: #613f00,
  //   dark-page: #3f2600
  // ),
  red: (
    primary: #dc143c,
    secondary: #770a0a,
    accent: #ab223d,
    dark: #481b1b,
    dark-page: #220000
  ),
);
