// body.body--dark.theme--blue {
//   --q-dark: #040c2d;
// }
// body.body--dark.theme--orange {
//   --q-dark: #170000;
// }
// body.body--dark.theme--purple {
//   --q-dark: #15152b;
// }

// Quasar Theme Colors ///////////
$primary: #00aeff;
$secondary: #ffffff;
$accent: #f9f9f9;
$dark: #141f48;
$dark-1: #f0f0f0;
$dark-2: #c4c4c4;
$dark-3: #acacac;
$purple: #c729df;
$dark-4: #a3acd2;
$dark-5: #586599;
$dark-6: #040c2d;
$white: #ffffff;
$black: #292929;
$dark-page: #040c2d;
$select: #f5f5f5;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$hover-light: #c5c5c5;
$hover-dark: #8492c9;
$dark-orange-1: #170000;
$dark-orange-2: #93546759;
$dark-purple-1: #15152b;
$dark-purple-2: #353355;
$main-layout-color: #ffffff;
$secondary-orange: #1f0f19;

//  Custom theme colors //////
$theme-primary: #00aeff;
$theme-secondary: #586599;
$theme-accent: #a3acd2;
$theme-dark: #141f48;
$theme-dark-page: #040c2d;

$themes: (
  orange: (
    primary: #ff6600,
    secondary: #ff9933,
    accent: #ffcc99,
    dark: #993300,
    dark-page: #170000
  ),
  purple: (
    primary: #c729df,
    secondary: #a64ca6,
    accent: #d0a0d0,
    dark: #4b004b,
    dark-page: #15152b
  ),
  blue: (
    primary: #00aeff,
    secondary: #586599,
    accent: #a3acd2,
    dark: #141f48,
    dark-page: #040c2d
  )
);

body.body--light {
  background-color: map-get($themes, blue, primary);
}

body.body--dark {
  background-color: map-get($themes, blue, dark-page);
}

@each $theme-name, $theme-colors in $themes {
  $primary: map-get($theme-colors, primary);
  $hover-dark: map-get($theme-colors, secondary);
  $dark: map-get($theme-colors, dark-page);
  $theme-primary: map-get($theme-colors, primary);
  $theme-secondary: map-get($theme-colors, secondary);
  $theme-accent: map-get($theme-colors, accent);
  $theme-dark: map-get($theme-colors, dark);
  $theme-dark-page: map-get($theme-colors, dark-page);

  body.body--light.theme--#{$theme-name} {
    background-color: $theme-primary;
  }

  body.body--dark.theme--#{$theme-name} {
    background-color: $theme-dark-page;
  }
}
