
// body.body--dark.theme--blue {
//   --q-dark: #040c2d;
// }
// body.body--dark.theme--orange {
//   --q-dark: #170000;
// }
// body.body--dark.theme--purple {
//   --q-dark: #15152b;
// }

$primary: #00aeff;
$secondary: #ffffff;
$accent: #f9f9f9;
$dark: #141f48;
$dark-1: #f0f0f0;
$dark-2: #c4c4c4;
$dark-3: #acacac;
$purple: #c729df;
$dark-4: #a3acd2;
$dark-5: #586599;
$dark-6: #040c2d;
$white: #ffffff;
$black: #292929;
$dark-page: #040c2d;
$select: #F5F5F5;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$hover-light: #c5c5c5;
$hover-dark: #8492c9;
$dark-orange-1: #170000;
$dark-orange-2: #93546759;
$dark-purple-1: #15152b;
$dark-purple-2: #353355;
$main-layout-color: #ffffff;
$secondary-orange: #1f0f19;

//theme-blue
$blue-theme-primary: #00aeff;
$blue-theme-secondary: #586599;
$blue-theme-accent: #a3acd2;
$blue-theme-dark: #141f48;
$blue-theme-dark-page: #040c2d;
