body.body--light.theme--blue {
  --q-primary: #00aeff;
  .profile-pic .q-avatar__content {
    background-color: $primary;
  }

  .underline {
    border-bottom: 3px solid $primary;
  }

  .q-field__control {
    color: $primary;
  }

  .q-field__control,
  .q-linear-progress,
  .q-carousel__navigation-inner .q-btn,
  .q-carousel__arrow .q-icon {
    color: $primary;
  }

  .invoice-table th {
    border-bottom: 2px solid $primary;
  }

  .lookup-table-body {
    border-top: 2px solid $primary;
  }

  // .lookup-table-body tr:hover {
  //   background-color: #eef7ff;
  // }

  .glass {
    background: rgba(0, 170, 255, 0.056);
    border-radius: 4px;
    box-shadow: 0 2px 20px #0000001a;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $primary;
  }

  .lookup-table-body tr:hover {
    background-color: #e8f4ff;
  }
  .selected-row {
    background-color: #def0ff !important;
    outline: 1px solid var(--q-primary) !important;
    box-shadow: 0 0 4px 0 rgb(0, 157, 255) !important;
  }
}

body.body--light.theme--orange {
  background-color: #6713005f;
  .lookup-table-body tr:hover {
    background-color: #f1f1f1;
  }

  .login-header,
  .login-page,
  .login-form {
    background-color: #fff8f4;
  }

  .selected-row {
    background-color: #fffbea !important;
    outline: 1px solid orangered !important;
    box-shadow: 0 0 4px 0 rgb(255, 149, 0) !important;
  }
}

body.body--light.theme--purple {
  background-color: #7d008a5f;
  .lookup-table-body tr:hover {
    background-color: #fdefff;
  }

  .login-header,
  .login-page,
  .login-form {
    background-color: #fef4ff;
  }

  .selected-row {
    background-color: #fbdeff !important;
    outline: 1px solid var(--q-primary) !important;
    box-shadow: 0 0 4px 0 rgb(255, 162, 244) !important;
  }
}
