body.body--light.theme--purple {
  --q-primary: #c729df;

  .bread-crumbs {
    background-color: #fde7ff;
    border-top: 1px solid #f8a7ff;
    border-bottom: 1px solid #f8a7ff;
    box-shadow: 0 0 2px 0 #f7a2ff;
  }

  .profile-pic .q-avatar__content {
    background-color: $purple;
  }

  .underline {
    border-bottom: 3px solid $purple;
  }

  .q-field__control,
  .q-linear-progress,
  .q-carousel__navigation-inner .q-btn,
  .q-carousel__arrow .q-icon {
    color: $purple;
  }

  // .invoice-table th {
  //   border-bottom: 2px solid $purple;
  // }

  .lookup-table-body {
    border-top: 2px solid $purple;
  }

  // .lookup-table-body tr:hover {
  //   background-color: #fdefff;
  // }

  .selected-row {
    // background-color: #fbdeff !important;
    outline: 1px solid var(--q-primary) !important;
    // box-shadow: 0 0 4px 0 rgb(255, 101, 237) !important;
  }

  .glass {
    background: rgba(255, 0, 179, 0.035);
    border-radius: 4px;
    box-shadow: 0 2px 20px #ff3c000a;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #c729df;
  }

  background-color: #7d008a5f;
  .lookup-table-body tr:hover {
    background-color: #fdefff;
  }

  .login-header,
  .login-page,
  .login-form {
    background-color: #fef4ff;
  }

  .selected-row {
    background-color: #fbdeff !important;
    outline: 1px solid var(--q-primary) !important;
    box-shadow: 0 0 4px 0 rgb(255, 162, 244) !important;
  }
}
