@mixin q-avatar-light {
  .q-avatar__content {
    background-color: #{$black}20;
  }

  .business-isowner .q-avatar__content,
  .profile-pic .q-avatar__content {
    background-color: $primary;
    color: $white;
  }

  .business-isnotowner .q-avatar__content {
    background-color: #{$black}20;
  }

  .delete-avatar {
    .q-avatar__content {
      background-color: $red-9 !important;
      color: $white;
  }
  }
}
