@mixin q-breadcrumbs-light{
  .q-breadcrumbs__el {
    color: #2d2d2d;
  }

  .q-breadcrumbs__separator {
    color: #2d2d2d;
  }

  .q-breadcrumbs__el.q-router-link--active {
    color: $primary;
  }

  .q-breadcrumbs__el:hover {
    color: lighten($primary, 10);
  }
}
