@mixin q-field-control-light {

  .q-field__control{
    color: $primary;
  }
  .q-field--outlined .q-field__control:before {
    background-color: $white;
  }

  .q-item__label--caption .q-field__control {
    color: $black;
  }

  .q-item__label--caption .q-field__control {
    background-color: red;
  }

  .q-field__native.q-placeholder {
    color: $black;
  }
}
