body.body--light {
  .q-item.q-router-link--active {
    background-color: #{$primary}20;
    border-radius: 8px;
    border-left: 4px solid $primary;
  }

  .q-item__section--avatar{
    color: #{$black}80;
  }
}
