@mixin q-scrollarea-light {
  .q-scrollarea__thumb {
    background-color: $primary !important;
    left: unset !important;
  }

  .q-scrollarea__bar {
    background-color: $accent !important;
  }
}
