@mixin q-table-light {
  .row-active {
    background-color: #{$black}10;
  }
  .q-table {
    .row-active {
      background-color: #{$primary}20 !important;
      td {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
      }
    }
  }

  .q-table__container {
    background-color: $white;
  }

  .row-selected {
    background-color: #{$primary}10;
  }
}
