@mixin q-table-light {
  .q-table__container {
    background-color: $white;
  }
  .q-table__bottom {
    padding: 15px;
  }
  .q-table th {
    padding: 8px;
  }

  .markup {
    .q-table th {
      padding: 0 16px;
    }
    & td {
      padding: 0 16px;
    }
  }

  // .q-table {
  //   .expand > td {
  //     padding: 24px 36px 36px 36px;
  //   }
  // }

  div.expand {
    padding: 24px 36px 36px 36px;
    //margin: -5px -15px;
  }

  .print-preview-table {
    width: 100%;
    border-collapse: collapse;
  }
  .print-preview-table th,
  .print-preview-table td {
    border: 1px solid black;
    padding: 5px;
    text-align: start;
  }
  .print-preview-table th {
    background-color: #f2f2f2;
  }

  @media print {
    .print-preview-table {
      width: 100%;
      border-collapse: collapse;
    }
    .print-preview-table th,
    .print-preview-table td {
      border: 1px solid black;
      padding: 5px;
      text-align: start;
    }
    .print-preview-table th {
      background-color: #f2f2f2;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}
