@mixin q-tab-panel-light {
  .q-tab__indicator {
    height: 4px !important;
    border-radius: 4px !important;
  }

  .bottom-navigation {
    .q-tab--active .q-tab__indicator {
      height: 6px !important;
      border-radius: 4px !important;
      margin-left: 16px !important;
      margin-right: 16px !important;
    }
  }

  .primary-tabs {
    .q-tab--active .q-tab__indicator {
      height: 4px !important;
      border-radius: 4px !important;
    }
  }

  .wrap-tab {
    .q-tabs__content {
      flex-wrap: wrap !important;
    }
  }
}
